body {
    margin: 0;
}

.header {
    background: black;
    padding: 0.25rem;
}

.header a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

article {
    text-align: center;
}

article {
    padding: 0.25rem;
}

h2 {
    color:red; 
    text-align: left;  
}

h3 {
    color:purple;
    text-align: left
}

h4 {
    text-align: left;
    color:blue;
}

html {
    background-color:orange
}

